# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled object files
*.o
*.obj
*.lo
*.la
*.al
*.exe

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executable files
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Dependency directories
node_modules/
__pycache__/
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip